<div class="body-bg min-h-screen pt-12 md:pt-20 pb-6 px-2 md:px-0">
  <!-- <section>
    <fa-icon class="text-white" icon="bowl-food"></fa-icon>
    <fa-icon class="text-white" icon="bacon"></fa-icon>
    <fa-icon class="text-white" icon="burger"></fa-icon>
    <fa-icon class="text-white" icon="carrot"></fa-icon>
    <fa-icon class="text-white" icon="avocado"></fa-icon>
  </section> -->
  <header class="max-w-lg mx-auto">
    <a href="#">
      <h1 class="text-4xl font-bold text-white text-center">E-kaly</h1>
    </a>
  </header>

  <main
    class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl"
  >
    <section class="mb-5 text-center">
      <h3 class="font-bold text-2xl">Bienvenu sur E-kaly</h3>
      <p class="text-gray-600 pt-2">Connectez-vous à votre compte</p>
    </section>
    <hr />
    <section class="mt-5">
      <form class="flex flex-col" (submit)="onSubmit()">
        <div class="mt-4">
          <label class="block" for="login">Login</label>
          <input
            [(ngModel)]="user.login"
            name="login"
            type="text"
            placeholder="Login"
            class="w-full bg-slate-100 px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
          />
          <!-- <span class="text-xs tracking-wide text-red-600"
            >Login field is required
          </span> -->
        </div>
        <div class="mt-4">
          <label class="block">Mot de passe</label>
          <input
            [(ngModel)]="user.password"
            name="password"
            type="password"
            placeholder="Password"
            class="w-full bg-slate-100 px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
          />
        </div>
        <div class="flex justify-end">
          <a
            href="#"
            class="text-sm text-purple-600 hover:text-purple-700 hover:underline mb-6"
            >Mot de passe oublié?</a
          >
        </div>
        <button
          class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200"
          type="submit"
        >
          Se connecter
        </button>
      </form>
    </section>
  </main>

  <div class="max-w-lg mx-auto text-center mt-12 mb-6">
    <p class="text-white">
      Pas de compte?
      <a href="#" class="font-bold hover:underline">S'inscrire</a>.
    </p>
  </div>

  <footer class="max-w-lg mx-auto flex justify-center text-white">
    <a href="#" class="hover:underline">Contact</a>
    <span class="mx-3">•</span>
    <a href="#" class="hover:underline">Privacy</a>
  </footer>
</div>
